.root {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 500px;
	flex-direction: column;
	background-color: var(--main-color);
}

.title {
	margin: 0;
	font-size: 60px;
}

.des {
	margin-top: 40px;
}
