.root {
	cursor: pointer;
	font-size: 20px;
	line-height: 24px;
	border-bottom: 2px solid transparent;
	transition: 0.7s;
	padding-bottom: 4px;
}

.root:hover {
	border-bottom: 2px solid var(--third-color);
}
