.root {

}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.nav {
	margin: 20px auto;
	max-width: 400px;
	display: flex;
	justify-content: space-between;
}

.catalog {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer {
	background-color: var(--fourth-color);
	overflow: hidden;
}
